@import "../helpers/mixin/bem";
html, body, #root, #app {
    min-height: 100vh !important;
    height: 100vh;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Microsoft YaHei, PingFang SC,Lucida Grande, Lucida Sans Unicode,Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    color: $base-font-color;
    background: $body-bg;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

#nprogress .bar {
    background: $primary-color !important;
}

hr {
    border: 0;
    border-bottom: 1px solid #ebeef5;
    margin: 10px;
}


.edit-btn {
    display: inline-block;
    color: $primary-color;
    font-size: 16px;
    &:hover {
        color: $lighter-primary-color;
    }
}

.remove-btn {
    display: inline-block;
    color: $error-color;
    font-size: 16px;
    &:hover {
        color: lighten($error-color, 10%);
    }
}

.card {
    @include e(header) {
        color: #108EE9;
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid #ebeef5;
        .title {
            font-size: 18px;
            font-weight: 600;
            padding: 0 10px;
        }
    }

    @include e(body) {
        .el-table__header, .el-table__body, .el-table__footer {
            border-collapse: collapse !important;
        }
        .el-table {
            th, tr {
                background: #fff !important;
                border-bottom: 1px solid #ebeef5 !important;
            }
            @include e(header-wrapper) {
                table tr {
                    text-shadow: none !important;
                }
            }

            @include e(body-wrapper) {
                table tr {
                    box-shadow: none !important;
                }
            }
        }

    }
}

::-webkit-scrollbar {
    width:8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: $body-bg;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}

.upload-button {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
}
