//to reset element-ui default css
.el-upload {
    input[type="file"] {
        display: none !important;
    }
}

.el-table{
    background-color: transparent !important;
    th {
        border-bottom: 0!important;
        color: $table-th-color;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        background-color: $table-th-bg-color;
    }

    tr {
        height: 48px !important;
    }

    td {
        border-bottom: none !important;
    }
    &:before {
        background: transparent !important;
    }
    @include e(fixed-right-patch) {
        background-color: #ededed !important;
    }
}
//
//.el-table__row.el-table__row--striped.expanded{
//    + tr > td.el-table__expanded-cell {
//        background-color: #FAFAFA;
//    }
//}

.container-full__body--white .el-table .el-table__fixed-header-wrapper tr {
    background-color:  $table-th-bg-color !important;
}

.el-form {
    &-item {
        @include e(label) {
            color: $base-font-color !important;
            font-weight: bold;
        }
    }
    @include m(label-top) {
        .el-form-item__label {
            padding: 0 !important;
        }
    }
}

.el-pagination {
    background-color: $white-bg;
    padding: 10px 16px;
    text-align: right;
    font-weight: 400;
    .btn-next {
        border: 1px solid $border-color-base !important;
        padding-left: 6px !important;
        margin-left: 5px;
        &:hover {
            background: $primary-color !important;
            color: #fff;
        }
    }
    .btn-prev {
        border: 1px solid $border-color-base !important;
        padding-right: 6px !important;
        margin-right: 5px;
        &:hover {
            background: $primary-color !important;
            color: #fff;
        }
    }

    .el-pager {
        li {
            &.active, &:hover {
                border-color: $primary-color !important;
                background: $primary-color !important;
                color: #fff;
            }
            border: 1px solid $border-color-base !important;
            & + li {
                margin-left: 5px !important;
            }
        }
    }
}


.el-menu.el-menu--horizontal {
    border-bottom: none !important;
}


.el-dialog {
    &.tableDialog {
       .el-dialog__body {
            background: $body-bg !important;
        }
        ::-webkit-scrollbar {
            width:8px;
            height: 10px;
        }

        ::-webkit-scrollbar-track {
            background-color: $body-bg;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #ddd;
            border-radius: 5px;
        }
    }
    //重置dialog的样式
    @include e(header) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $main-container-header-border-bottom-color;
    }

    @include e(title) {
        font-size:16px;
        font-weight: bold;
        //color: $main-container-header-title-color;
    }

    @include e(footer) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid $main-container-header-border-bottom-color;
        padding: 10px !important;
        button {
            height: 32px !important;
            line-height: 1px !important;
        }
    }
}

.el-tree-node {
    white-space: normal;
    padding: 3px 0;
    @include m(content) {
        height: 100% !important;
    }
}

.el-message--error, .el-message--success {
    position: absolute;
    top: 65px;
    z-index: 9999 !important;
}

// .el-button {
//     @include m(accent) {
//         font-size: 14px !important;
//         @include button-variant($accent-color, $btn-accent-fill, $btn-accent-border);
//     }
// }
.el-button {
    @include m(small) {
        font-size: 12px !important;
        padding: 0px 16px;
        height: 30px;
        border-radius: 2px;
    }
    @include m(mini) {
        font-size: 12px !important;
        padding: 0px 10px;
        height: 23px;
        border-radius: 2px;
    }
    @include m(primary) {
        @include button-variant($btn-font-auxiliary-color, $btn-bg-auxiliary-color, $btn-border-auxiliary-color);
    }
    @include m(danger) {
        @include button-variant-danger($btn-border-main-color, $btn-bg-main-color, $btn-border-main-color);
    }
}

.el-breadcrumb {
    font-size: 12px;
    line-height: 17px;
}
