$primary-color: #E7233B !default;//主色 #545EFF
$lighter-primary-color: hsl(225, 100.0%, 73.5%) !default;
$lightest-primary-color: hsl(236, 60%, 76%) !default;
$darker-primary-color: darken($primary-color,2%);
$darkest-primary-color: darken($primary-color,5%);

$accent-color: hsl(193, 69%, 55%); //强调色
$btn-accent-fill: hsl(191, 67%, 95%);
$btn-accent-border: hsl(191, 67%, 95%);

$error-color: #f56c6c;
$base-font-color: #4A4A4A;
$base-border-color: #DDD;
$white-bg: #fff;
$body-bg: #F5F5F5;
//$body-bg: #F4F8F9;

$grey: #AEBECD !default;
$lightest-grey: #F8F9FA !default;
$lighter-grey: #D5DDE5 !default;
$more-light-grey: #D5DDE5 !default;
$light-grey: #AEBECD !default;
$darkest-grey: #202833 !default;
$darker-grey: #404B5A !default;
$more-dark-grey: #6E7A8A !default;
$dark-grey: #929FB1 !default;

$color-text-placeholder: #c0c4cc !default;
$label-font-color: #666;
$border-color-base:  #dcdfe6 !default;
$border-hover-color-base: $color-text-placeholder;
$dropDown-border-color: #e7e9f0;

//sidebar
$sidebar-bg: $white-bg;//侧栏背景色
$sidebar-subItem-bg: transparentize($lighter-primary-color, .3);//侧栏二级菜单背景色
$sidebar-font-color: $base-font-color;
$sidebar-icon-color: $base-font-color;
$sidebar-active-bg: rgba(231,35,59, 1);
$sidebar-hover-bg: rgba(231,35,59, 0.1);
$sidebar-hover-font-color: $white-bg;
$sidebar-hover-icon-color: $white-bg;
$sidebar-subItem-circle-bg: $white-bg;

//header顶栏
$header-bg: #564E5F !default;
$header-font-color: rgba(#fff, 0.7);
$header-icon-color: rgba(#fff, 0.7);
$header-active-font-color: #fff;
$header-active-icon-color: #fff;

//主体
$main-container-bg: $white-bg;
$main-container-header-title-color: #fff;
$main-container-header-title-color: $label-font-color;
$main-container-header-title-size: 26px;
$main-container-header-border-bottom-color: #ebeef5; //主体头部下边线
//面包屑
$breadCrumb-bg: #fff;
$breadCrumb-active-link: #108EE9;

//dialog
$dialog-header-border-bottom-color: #ebeef5;
$dialog-header-title-color: #686f79;
//login
$login-bg: #333;
$login-form-bg: hsla(0,0%,100%,.1);

//按钮主色
$btn-border-main-color:hsla(353, 80%, 52%, 1);
$btn-bg-main-color:hsla(0, 0%, 100%, 0.6);
$btn-border-main-color-hover:hsla(353, 90%, 58%, 1);
$btn-border-main-color-active:hsla(353, 73%, 50%, 1);
// 按钮辅助色
$btn-bg-auxiliary-color:hsla(205, 87%, 49%, 1);
$btn-font-auxiliary-color: hsla(0, 0%, 100%, 1);
$btn-border-auxiliary-color: hsla(205, 87%, 49%, 1);


//tabel-th-bg
$table-th-bg-color:hsla(0, 0%, 93%, 1);
$table-th-color: $base-font-color;
