@import "color";
/* 改变主题色变量 */
$--color-primary: #108EE9;
$--font-size-base: 12px !default;
$--size-base: 12px !default;
$--button-font-size: 12px !default;
$--pagination-font-size: 12px !default;
$--table-row-hover-background: rgba(231,35,59, 0.1) !default;
$--table-current-row-background: rgba(231,35,59, 0.1) !default;
//$--table-current-row-background: #eeefff;

///* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
//
@import "~element-ui/packages/theme-chalk/src/index";
